[Desktop Entry]
Encoding=UTF-8
Name=Projector
Name[fr]=Projecteur
Icon=plusrandr
Exec=/usr/bin/plusrandr
Terminal=false
Type=Application
Categories=Utility
